@font-face {
  font-family: "Nunito Sans";
  src: url(../fonts/NunitoSans_10pt-Regular.ttf);
}
*, after, before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Nunito Sans";
  font-size: 62.5%;
}

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(12, minamax(3.3rem, 11rem)) [content-end] 1fr [full-end];
  grid-template-rows: 87.2rem 96rem;
}

.logo__title {
  font-family: Nunito Sans;
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #4F8FF0;
}
.logo__text {
  font-family: Nunito Sans;
  font-weight: 900;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: lowercase;
  color: white;
}

.button {
  width: 16rem;
  height: 5rem;
  border: none;
  font-family: Nunito Sans;
  font-weight: 900;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: #4F8FF0;
  color: white;
}

.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr [content-start-2] repeat(12, minmax(3.3rem, 11rem)) [content-end-2] 1fr;
  grid-template-rows: 5.2rem 82rem;
  background: black;
}

.contact {
  grid-column: content-start-2/content-end-2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 17rem 17rem 1fr 11rem;
  grid-template-rows: 5.2rem;
  padding: 0 2.4rem;
}

.contact-phone {
  grid-column: 1/2;
  grid-row: 1/2;
}

.contact-email {
  grid-column: 2/3;
  grid-row: 1/2;
}

.contact-phone, .contact-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.68rem;
  letter-spacing: 0%;
  gap: 0.8rem;
  color: white;
}

.contact-call {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0%;
  color: #4F8FF0;
}

.header-content {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr [content-start-3] repeat(12, minmax(3.3rem, 11rem)) [content-end-3] 1fr;
  grid-template-rows: 11.2rem;
  background-image: url("../img/background-header.png");
}

.header-content__color-transparent-1 {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: rgba(1, 1, 1, 0.7607843137);
}

.header-content__color-transparent-2 {
  grid-column: 1/-1;
  grid-row: 2/3;
  background-color: rgba(34, 34, 34, 0.6392156863);
  z-index: 2;
}

.header-content-gray {
  grid-column: content-start-3/content-end-3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 31rem 1fr 73em;
  grid-template-rows: 100%;
  padding: 0 2.4rem;
  z-index: 3;
}

.logo_header {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

.nav_header {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: center;
}

.header-center {
  grid-column: 2/14;
  grid-row: 2/3;
  display: grid;
  z-index: 3;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.header-center__title-small {
  font-family: Nunito Sans;
  font-weight: 300;
  font-size: 3rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
  margin-bottom: 0.8rem;
}
.header-center__title {
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 5.6rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #4F8FF0;
  margin-bottom: 0.8rem;
}
.header-center__text {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  width: 109rem;
  margin-bottom: 4rem;
}
.header-pallet {
  grid-column: content-start-3/content-end-3;
  grid-row: 2/3;
  align-self: end;
  z-index: 3;
  padding: 0 2.4rem 3.5rem 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list {
  list-style-type: none;
}
.nav__item {
  display: inline-block;
}
.nav__item:not(:last-child) {
  margin-right: 3.2rem;
}
.nav__link {
  text-decoration: none;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
}

.services {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr [content-start-2] repeat(12, minmax(3.3rem, 11rem)) [content-end-2] 1fr;
  grid-template-rows: 96rem;
  background-color: #F7F7F7;
}
.services__content {
  grid-column: content-start-2/content-end-2;
  grid-row: 1/2;
  padding: 8rem 2.4rem;
}
.services__header {
  display: grid;
  justify-items: center;
  margin-bottom: 4.8rem;
}
.services__title {
  font-family: Nunito Sans;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.services__line {
  width: 5rem;
  height: 0.3rem;
  border: 1px solid #4F8FF0;
  margin-bottom: 2.4rem;
}
.services__text {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  width: 92rem;
}

.services-contentForItems {
  display: grid;
  grid-template-columns: repeat(3, -webkit-min-content);
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-gap: 3.8rem 2.4rem;
}

.services-item {
  width: 42.4rem;
  height: 25rem;
  background-color: white;
  display: grid;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  justify-items: center;
  padding: 5rem 3.2rem 0 3.2rem;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}
.services-item__img {
  margin-bottom: 1.5rem;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 2;
}
.services-item__img-2 {
  display: none;
  margin-bottom: 1.5rem;
  z-index: 3;
}
.services-item__hover-border {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: none;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.services-item__title-4 {
  font-family: Nunito Sans;
  font-weight: 800;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  height: 3rem;
  margin-bottom: 1rem;
}
.services-item__text {
  width: 36rem;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.services-item:hover {
  color: white;
  background-color: #4F8FF0;
}
.services-item:hover .services-item__img {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}
.services-item:hover .services-item__img-2 {
  display: block;
}
.services-item:hover .services-item__hover-border {
  display: block;
}