$color-blue: #4F8FF0
$color-black: black
$color-black-gray: #222222
$color-white: white
$color-gray-light: #F7F7F7
$color-gray-dark: #E6E6E6
*, after, before
    padding: 0
    margin: 0
    box-sizing: border-box
html
    font-family: "Nunito Sans"
    font-size: 62.5%
.container
    display: grid
    grid-template-columns: [full-start] 1fr [content-start] repeat(12, minamax(3.3rem,11rem)) [content-end] 1fr [full-end]
    grid-template-rows: 87.2rem 96rem 59rem 74rem 59rem 91rem 53.5rem 5rem

@mixin gridGeneralColumns
    grid-template-columns:  1fr [content-start-2] repeat(12, minmax(3.3rem, 11rem)) [content-end-2] 1fr


    