.header
    //grid-column: full-start / full-end
    grid-column: 1 / -1

    //width: 100%
    display: grid
    // grid-template-columns:  1fr [content-start-2] repeat(12, minmax(3.3rem, 11rem)) [content-end-2] 1fr
    @include gridGeneralColumns
    grid-template-rows: 5.2rem 82rem
    //width: 100%
    background: $color-black
.contact
    grid-column: content-start-2 / content-end-2
    grid-row: 1 / 2
    display: grid
    grid-template-columns: 17rem 17rem 1fr max-content//10.5rem
    grid-template-rows: 5.2rem
    padding: 0 2.4rem
.contact-phone
    grid-column: 1 / 2
    grid-row: 1 / 2
.contact-email
    grid-column: 2 / 3
    grid-row: 1 / 2
.contact-phone, .contact-email
    display: flex
    align-items: center
    //font-family: Nunito Sans
    font-weight: 600
    font-size: 1.4rem
    line-height: 1.68rem
    letter-spacing: 0%
    gap: .8rem
    color: $color-white
.contact-call
    grid-column: 4 / 5
    grid-row: 1 / 2
    align-self: center
    //font-family: Nunito Sans;
    font-weight: 700
    font-size: 1.4rem
    -moz-font-size: 3.3rem

    line-height: 2.1rem
    letter-spacing: 0%
    //color: $color-blue
.contact-call a
    text-decoration: none
    color: $color-blue
.header-content
    //    grid-column: content-start-2 / content-end-2
    grid-column: 1 / -1
    grid-row: 2 / 3
    display: grid
    grid-template-columns: 1fr [content-start-3] repeat(12, minmax(3.3rem, 11rem)) [content-end-3] 1fr 
    grid-template-rows: 11.2rem //11.2rem
    background-image: url('../img/background-header.png')
    //padding: 0 2.4rem
.header-content__color-transparent-1
    grid-column: 1 / -1
    grid-row: 1 / 2
    background-color: #010101C2
.header-content__color-transparent-2
    grid-column: 1 / -1
    grid-row: 2 / 3
    background-color: #222222A3
    z-index: 2
.header-content-gray
    grid-column: content-start-3 / content-end-3
    grid-row: 1 / 2
    display: grid
    grid-template-columns: 31rem 1fr 70em
    grid-template-rows: 100%
    padding: 0 2.4rem 0 2.4rem
    z-index: 3
    //  background-color: #010101C2
.logo_header
    grid-column: 1 / 2
    grid-row: 1 / 2
    align-self: center
.nav_header
    grid-column: 3 / 4
    grid-row: 1 / 2
    align-self: center
.header-center
    grid-column: 2 / 14
    //    grid-column: content-start-3 / content-end-3

    grid-row: 2 / 3
    display: grid
    z-index: 3
    justify-items: center
    justify-content: center
    align-content: center
    //width: 109rem
    &__title-small
        font-family: Nunito Sans
        font-weight: 300
        font-size: 3rem
        line-height: 150%
        letter-spacing: 0%
        text-transform: uppercase
        color: $color-white
        margin-bottom: .8rem
        //text-align: center
    &__title
        font-family: Nunito Sans
        font-weight: 600
        font-size: 5.6rem
        line-height: 150%
        letter-spacing: 0%
        text-transform: uppercase
        color: $color-blue
        margin-bottom: .8rem
        // text-align: center
    &__text
        font-family: Nunito Sans
        font-weight: 400
        font-size: 2rem
        line-height: 120%
        letter-spacing: 0%
        text-align: center
        color: $color-white
        width: 109rem
        margin-bottom: 4rem
    &__button
.header-pallet
    grid-column: content-start-3 / content-end-3
    grid-row: 2 / 3
    align-self: end
    z-index: 3
    padding: 0 2.4rem 3.5rem 2.4rem
    //padding-bottom: 3.5rem
    display: flex 
    justify-content: space-between 
    &__img-1
    &__img-2
        
