.services
    grid-column: 1 / -1
    grid-row: 2 / 3
    display: grid
    // grid-template-columns:  1fr [content-start-2] repeat(12, minmax(3.3rem, 11rem)) [content-end-2] 1fr
    @include gridGeneralColumns
    grid-template-rows: max-content//96rem
    background-color: $color-gray-light
    &__content
        grid-column: content-start-2 / content-end-2
        grid-row: 1 / 2
        padding: 8rem 0//2.4rem
    &__contentForItems
        overflow: hidden
        margin-bottom: 4.8rem
    &__listItems
        display: grid
        //grid-template-columns: repeat(3, min-content)
        grid-template-columns: repeat( auto-fit, minmax(42.4rem, max-content) )
        grid-template-rows: max-content
        justify-content: center
        grid-gap: 3.8rem 2.4rem
        @include respond(tab-port)
            grid-template-columns: repeat( auto-fit, minmax(33.6rem, max-content) )
            grid-gap: 2.4rem 2.4rem
        @include respond(phone)
            display: flex
            justify-content: start
            gap: 2.4rem
            padding-left: 2.4rem

.services-item
    flex: none
    width: 42.4rem
    height: 25rem
    background-color: $color-white
    display: grid
    grid-template-rows: min-content min-content min-content
    justify-content: center
    padding: 5rem 3.2rem 0 3.2rem
    transition: 1s
    position: relative
    //margin-bottom: 4.8rem
    overflow: hidden
    //align-items: center
    @include respond(tab-port)
        width: 33.6rem
        height: 22.9rem
        padding: 3rem 3.2rem 0 3.2rem
        transition: 0s
    @include respond(phone)
        width: 25rem
        height: 21.5rem
        padding: 3rem 3.2rem 0 3.2rem
    &__img
        margin-bottom: 1.5rem
        transition: 1s
        z-index: 2
        justify-self: center
    &__img-2
        display: none
        margin-bottom: 1.5rem
        z-index: 3
    &__hover-border
        position: absolute
        top: 2rem
        left: 2rem
        display: none
        z-index: 5
        transition: .5s
    &__title-4
        font-family: Nunito Sans
        font-weight: 800
        font-size: 2rem
        line-height: 150%
        letter-spacing: 0%
        text-align: center
        //height: 3rem
        margin-bottom: 1rem
        //color: $color-black
        @include respond(tab-port)
            line-height: 120%
        @include respond(phone)
            width: 21.8rem
    &__text
        width: 36rem
        font-family: Nunito Sans
        font-weight: 400
        font-size: 1.4rem
        line-height: 120%
        letter-spacing: 0%
        text-align: center
        @include respond(tab-port)
            width: 27.2rem
            font-weight: 300
        @include respond(phone)
            width: 21.8rem
    &:hover
        @include respond(big-screen)
            width: 42.4rem
            color: $color-white
            background-color: $color-blue
            cursor: pointer
        & .services-item__img 
            @include respond(big-screen)
                display: none
                transition: 1s
        & .services-item__img-2
            @include respond(big-screen)
                display: block
        & .services-item__hover-border
            @include respond(big-screen)
                display: block 
.services-button   
    position: relative
    left: 50%
    transform: translate(-50%, 0)

