.logo
    &__title
        font-family: Nunito Sans
        font-weight: 900
        font-size: 2.2rem
        line-height: 150%
        letter-spacing: 0%
        text-transform: uppercase
        color: $color-blue
    &__text
        font-family: Nunito Sans
        font-weight: 900
        font-size: 2rem
        line-height: 150%
        letter-spacing: 0%
        text-transform: lowercase
        color: $color-white
